// you can change colors here
$theme-color: #83bceb;
$bg-color: (
    light: #f6edf2,
    dark: #61233162,
);

// 应用字体
$font-family: '"Noto Serif SC", serif';
$font-family-heading:'chengrongguangke';


$border-color: (
    light: #6d1d1d,
    dark: #635e5e,
);
$sidebar-width: 15rem;