// you can change colors here
$theme-color: #c4d2e0;
$bg-color: (
    light: #d1b8c7,
    dark: #44161662,
);

// 应用字体
$font-family: '"Noto Serif SC", serif';
$font-family-heading:'chengrongguangke';


$border-color: (
    light: #ddd,
    dark: #444,
);
$sidebar-width: 15rem;